@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:root {
    --color-b: #000000;
    --color-w: #ffffff;
    --color-lg: #cccccc;
    --color-g: #888888;
    --color-dg: #444444;

    --color-1: #0D1B2A;
    --color-2: #1B263B;
    --color-3: #415A77;
    --color-4: #778DA9;
    --color-5: #E0E1DD;

    --font-1: 'Roboto', sans-serif;

}

body {
    font-family: var(--font-1);
    color: var(--color-b);
}

.content-s {
    max-width: 800px;
    margin: 0 auto;
}

.mr-2 {
    margin-right: 5px;
}

.mr-5 {
    margin-right: 15px;
}


/* nastavení QUILL editor + zobrazení v detailu */

.ql-editor {
    font-family: var(--font-1) !important;
    font-size: 1rem !important;
    color: var(--black) !important;
}

.ql-editor p {
    margin-bottom: 10px !important;
    text-indent: 1.6rem;
  }
  
.ql-editor a {
    color: #4648f7;
    text-decoration: underline;
}

.ql-editor pre {
    font-size: 1.2em;
    background-color: inherit !important;
    color: var(--color-b) !important;
}

.ql-editor .ql-video {
    margin: 0 auto;
    display: block;
    width: 400px;
}

.ql-editor img {
    margin: 10px auto;
    display: block;
    width: 100%;
    max-width: 400px !important;
    height: auto;
}