@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:root {
    --color-b: #000000;
    --color-w: #ffffff;
    --color-lg: #cccccc;
    --color-g: #888888;
    --color-dg: #444444;

    --color-1: #0D1B2A;
    --color-2: #1B263B;
    --color-3: #415A77;
    --color-4: #778DA9;
    --color-5: #E0E1DD;

    --font-1: 'Roboto', sans-serif;
    --spacer: 10px;

}

body {
    font-family: var(--font-1);
    font-size: 1rem;
    color: var(--color-b);
}

.content-s {
    max-width: 800px;
    margin: 0 auto;
}

.mr-1 {
    margin-right: calc(var(--spacer) * 0.25) !important;
}

.mr-2 {
    margin-right: calc(var(--spacer) * 0.5) !important;
}

.mr-3 {
    margin-right: calc(var(--spacer)) !important;
}

.mr-4 {
    margin-right: calc(var(--spacer) * 1.5) !important;
}

.mr-5 {
    margin-right: calc(var(--spacer) * 3) !important;
}

/* ML */

.ml-1 {
    margin-left: calc(var(--spacer) * 0.25) !important;
}

.ml-2 {
    margin-left: calc(var(--spacer) * 0.5) !important;
}

.ml-3 {
    margin-left: calc(var(--spacer)) !important;
}

.ml-4 {
    margin-left: calc(var(--spacer) * 1.5) !important;
}

.ml-5 {
    margin-left: calc(var(--spacer) * 3) !important;
}

/* MT */

.mt-1 {
    margin-top: calc(var(--spacer) * 0.25) !important;
}

.mt-2 {
    margin-top: calc(var(--spacer) * 0.5) !important;
}

.mt-3 {
    margin-top: calc(var(--spacer)) !important;
}

.mt-4 {
    margin-top: calc(var(--spacer) * 1.5) !important;
}

.mt-5 {
    margin-top: calc(var(--spacer) * 3) !important;
}

/* MB */

.mb-1 {
    margin-bottom: calc(var(--spacer) * 0.25) !important;
}

.mb-2 {
    margin-bottom: calc(var(--spacer) * 0.5) !important;
}

.mb-3 {
    margin-bottom: calc(var(--spacer)) !important;
}

.mb-4 {
    margin-bottom: calc(var(--spacer) * 1.5) !important;
}

.mb-5 {
    margin-bottom: calc(var(--spacer) * 3) !important;
}