:root {
    --primary: #000000;
    --blue: #008496;
}

.appbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid lightgray;
    height: 50px;
    align-items: center;
    padding: 10px 25px;


    background-color: rgba(255, 255, 255, 1);
    position: sticky;
    top: 0;
}

.appbar__brand {
    display: block;
    font-size: 1.5em;
    font-weight: 600;
    margin: auto 0;
}

.appbar__brand a {
    text-decoration: none;
    color: inherit;
}

.appbar__brand a:hover {
    text-decoration: none;
    color: inherit;
}

.appbar__nav {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.appbar__nav-item {
    font-size: 1em;
    display: block;
    text-decoration: none;
    color: inherit;
}

.appbar__nav-item:hover {
    text-decoration: none;
    color: var(--blue);
}

.appbar__nav-item--active {
    color: var(--blue);
    font-weight: 500;
}

.welcome-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.welcome-header__photo {
    height: 170px;
    width: 270px;
    border-radius: 50%;
}

.welcome-header__text {
    margin: 0 0 0 15px;
    width: 100%;
}

.welcome-header__title {
    font-size: 1.5em;    
}

.welcome-header__desc {
    font-size: 1.1em;  
    color: #6e6e6e
}

.content {
    max-width: 1000px;
    margin: 10px auto 0 auto;
    padding: 0 10px;
}

.header__2 {
    font-size: 1.7em;
}

.header__3 {
    font-size: 1.5em;
}

.header--center {
    text-align: center;
}

.posts {
    margin: 20px 0 0 0;
}

.posts__title {
    margin: 0 0 20px 0;
}

.posts__list {

}

.posts__item {
    display: flex;
    padding: 8px;

    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.posts__item-image {
    margin: 0 25px 0 0;
}

.posts__item-title {
    margin: 15px 0 0 0;
}

@media screen and (max-width: 550px) {
    .appbar__nav {
        display: none;
    }

    .welcome-header {
        flex-direction: column;
        align-items: center;
    }
}
